<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- enable annotation support -->
    <context:annotation-config />

    <!-- enable scanning for beans -->
    <context:component-scan base-package="edu.pitt.dbmi.i2b2.ontologystore.db,edu.pitt.dbmi.i2b2.ontologystore.service" />

    <!-- Configure spring to give a hook to axis2 without a ServletContext -->
    <bean id="applicationContext" class="org.apache.axis2.extensions.spring.receivers.ApplicationContextHolder" />

    <!-- resolve a specified file location path -->
    <bean id="resourcePatternResolver" class="org.springframework.core.io.support.PathMatchingResourcePatternResolver" />

    <!-- datasource -->
    <bean id="hiveDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
        <property name="jndiName" value="OntologyStoreBootStrapDS" />
    </bean>

    <!-- Axis2 Web Service, but to Spring, its just another bean that has dependencies -->
    <bean id="ontologyStoreService" class="edu.pitt.dbmi.i2b2.ontologystore.ws.OntologyStoreService" />
</beans>
