#OntologyStore-mainDiv {
    padding: 20px;
}

table#OntologyStore-ProductTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:13px;
    margin-bottom:20px;
    margin-top:20px;
}

#OntologyStore-ProductTable td, th {
    border: 1px solid dimgrey;
    text-align: middle;
    padding: 5px;
}

#OntologyStore-ProductTable th {
    background-color: #216288;
    color: lightgrey;
}

#OntologyStore-ProductTable tr:hover td {
    background-color: #DCDCDC;
}


table#OntologyStore-ActionSummary {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size:13px;
    margin-bottom:20px;
    margin-top:20px;
}

table#OntologyStore-ActionSummary td, th {
    border: 1px solid dimgrey;
    text-align: middle;
    padding: 5px;
}

table#OntologyStore-ActionSummary th {
    background-color: #003366;
    color: #FFFFFF;
    text-align: left;
}

table#OntologyStore-ActionSummary tr:hover td {
    background-color: #DCDCDC;
}
